@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Manrope', Helvetica, Arial;
}

label {
	display: block;
}

a {
	color: unset;
}

.input {
	border: 1px solid #E6E6E6;
	border-radius: 8px;
	padding: 12px;
}

.input:focus {
	outline: none;
}

.input::placeholder {
	color: #bbbbbb;
}