@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Manrope', Helvetica, Arial;
}

label {
	display: block;
}

a {
	color: unset;
}

.input {
	border: 1px solid #E6E6E6;
	border-radius: 8px;
	padding: 12px;
	transition: .2s all ease-in-out;
}

.input:focus {
	outline: none;
	box-shadow: 0 0 0 0.1rem rgba(17, 0, 255, 0.25);
}

.input::placeholder {
	color: #bbbbbb;
}

.copy {
	font-size: 12px;
	color: #B8B8B8;
	margin-top: 20px;
}